
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box; }
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav ul li a{
    color: #333333;
    text-decoration: none;
}
nav ul li a:hover{
    border-bottom:1px solid black;
    color: #2d67a5;
}
.hero{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-around;
    color:black;}
.hero .rightside{
    max-width:90%;
    max-height:80%;
}
.hero .rightside img{
    width: 100%;
    height:70%;
}
.hero .leftside{
    width: 25%;
    margin-top: 120px;

}

