
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box; }
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav ul li a{
    color: #333333;
    text-decoration: none;
}
nav ul li a:hover{
    border-bottom:1px solid black;
    color: #2d67a5;
}
.hero{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-around;
    color:black;}
.hero .rightside{
    max-width:90%;
    max-height:80%;
}
.hero .rightside img{
    width: 100%;
    height:70%;
}
.hero .leftside{
    width: 25%;
    margin-top: 120px;

}
.showabout{
    background-color:#f4f4f4;
    padding: 50px 20px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.showdisc{
    width: 80%;
    text-align: justify;
    display: flex;
    gap: 30px;
}
.showdiscimg{
    width: 40%;
}
.focus{
    padding: 50px 0px;
    margin:auto;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.focuspoints{
    display: flex;
    gap: 120px;
    width: 80%;
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.focuspoint1, .focuspoint2{
    display: flex;
    gap: 20px;
}
.focuspoints h2{
    font-size: 80px;
    color: #787156;
    margin: 0;
}
